<nav
  role="navigation"
  aria-label="Pagination Navigation"
  class="flex items-center justify-between"
>
  <div class="flex justify-between flex-1 sm:hidden">
    <a
      href="http://127.0.0.1:8000?page=1"
      class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
    >
      « Previous
    </a>

    <span
      class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md"
    >
      Next »
    </span>
  </div>

  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700 leading-5">
        Showing
        <span class="font-medium">13</span>
        to
        <span class="font-medium">19</span>
        of
        <span class="font-medium">19</span>
        results
      </p>
    </div>

    <div>
      <span class="relative z-0 inline-flex shadow-sm rounded-md">
        <a
          href="http://127.0.0.1:8000?page=1"
          rel="prev"
          class="relative inline-flex items-center px-2 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-l-md leading-5 hover:text-gray-400 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
          aria-label="&amp;laquo; Previous"
        >
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>

        <a
          href="http://127.0.0.1:8000?page=1"
          class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 hover:text-gray-500 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
          aria-label="Go to page 1"
        >
          1
        </a>
        <span aria-current="page">
          <span
            class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5"
          >
            2
          </span>
        </span>
      </span>
    </div>
  </div>
</nav>
